*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

.contenedorPrincipal{
   position: relative;
   right: 0;
   transition: all 300ms;
}

/*aqui comienza el cuerpo*/
.cuerpoPagina{
   text-align: center;
   margin-top: 75px;
   background-image: url(../img/background-cover.svg);
   background-size:contain;
}
.separador{
   background:#359EF9;
   width: 100%;
   height: 45px;
   display: flex;
   margin-bottom: 5px;
}
.btnAtras{
   background: white;
   padding: 7px 25px;
   color: #359EF9;
   border-radius: 20px;
   align-self: center;
}
.btnAtras:hover{
   background: #359EF9;
   padding: 7px 25px;
   color: white;
   border: 1px solid white;
}
/* Empeiza el carusel*/
.contenedorCarusel{
   width: 90%;
   max-width: 900px;
   overflow: hidden;
   margin: auto;
}
.carusel{
   display: flex;
   width: 500%;
   height: 400px;
   margin: auto;
}
.caruselItem{
   width: 20%;
   margin-left: 0%;
}
.caruselImg{
   display: block;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
.caruselBtn{
   position: absolute;
   width: 40px;
   height: 40px;
   background: #359EF9;
   color: white;
   top: 50%;
   transform: translateY(-50%);
   font-size: 30px;
   font-weight: bold;
   font-family: monospace;
   text-align: center;
   border-radius: 50%;
   cursor: pointer;
   margin: auto;
}
.caruselBtnAtras{
 left: 150px;
}
.caruselBtnAdelante{
   right: 150px;
}
fieldset{
   margin-top: 10px;
   margin-left: 50px;
   margin-right: 50px;
   border-color: #359EF9;
   font-size: x-large;
}
fieldset legend{
   color: #359EF9;
   font-weight: 700;

}
form{
   margin-left: 50px;
   margin-right: 50px;
}
.divEstilo{
   width: 100%;
   display: flex;
    flex-direction: row;
}
.divDatos{
   width: 100%;
   margin: 15px;
   font-weight: 700;
   color: #359EF9;
}
.divDatos p, .pEmprendimientos{
   margin: 10px;
   color: black;
   font-weight: 700;
}

table{
   margin: 15px;
	background-color: white;
	text-align: center;
	border-collapse: collapse;
	width: 90%;
   font-family: sans-serif;
}
th, td{
	padding: 10px;
}
thead{
	background-color: #359EF9;
	color: black;
}

tr:hover td{
	background-color: #55abf6;
	color: white;
}
 select{
   width: 25%;
   cursor: pointer;
   color: #7b7b7b;
   font-size: 18px;
   text-align: center;
   color: black;
   border: 2px solid rgba(0,0,0,0.2);
   border-radius: 12px;
   transition: all 0.25s ease;
}
 
 select:hover{
	background: #B1E8CD;
}
.btn{
   cursor: pointer;
   border: none;
   background: #359EF9;
   padding: 10px 30px;
   color: white;
   border-radius: 20px;
}
.msgEstadoEmpre{
   display: none;
}
.textMsgEstado{
   width:400px;
   max-width:400px;
   height:100px;
   max-height: 100px;
   border: 2px solid #359EF9;
   margin-top: 10px;
   margin-bottom: 5px;
   font-family: sans-serif;
   font-size: large;
}
.textMsgEstado:focus, .textMsgEstado:active{
   border: 2px solid #359EF9;
}