*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

.contenedorPrincipal{
   position: relative;
   right: 0;
   transition: all 300ms;
}
/*aqui comienza la barra laterral*/
.contenedorCategoriasBuscar{
   width: 100%;
   padding-top: 1px;
   padding-right: 10px;
   padding-left: 5px;
   height: 30px;
   position: fixed;
   background:#359EF9 ;
   z-index: 100;
   margin-top: -30px;
   display: inline-flex;
}
.formBuscar{
   display: inline-flex;
   width: 100%;
}
.selectFiltro{
   width: 150px;
   height: 28px;
   border: 1px solid white;
   border-radius: 5px;
   color: #359EF9;
   font-size: 15px;
}
.contenedorCategoriasBuscar label{
   position: fixed;
   background: #359EF9;
   color:white;
   border: 1px solid #fff;
   border-radius: 15px;
   width: 200px;
   height: 28px;
   font-size: 20px;
   text-align: center;
   cursor: pointer;
   z-index: 10;
}
.contenedorCategoriasBuscar label:hover{
   background: #47a3f3;
}

/*busqueda */

.contenedorBuscar{
   overflow: hidden;
   width: 100%;
   display: flex;
   place-content: flex-end

 }

 .contenedorBuscar input#search{
   width: 300px;
   height: 28px;
   background: #47a3f3;
   border: 1px solid #fff;
   font-size: 10pt;
   color: #fff;
   padding-right: 15px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
 }

.contenedorBuscar button.icon{
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
  
   border: none;
   background:  white;
   height: 28px;
   width: 50px;
   color: #4f5b66;
   opacity: 1;
   font-size: 10pt;
   transition: all .55s ease;
   cursor: pointer;
 }
 .iconMod{
   width: 30px;
   height: 28px;
   color: white;
   background: rgb(236, 15, 15);
   border: none;
   margin-left: 4px;
   border-radius: 5px;
   cursor: pointer;
 }
 #search.textarea:focus,input:focus, input[type]:focus {
   box-shadow: 0 2px 1px rgb(255, 255, 255)inset;
   outline: 0 none;
}
.filtroActivo{
   width: 100%;
   text-align: center;
}
.filtroActivo h3{
   display: inline-flex;
   color: #4f5b66;
}
.filtroActivo h3 p{
   color:#47a3f3 ;
}
/*aqui comienza el cuerpo*/
.cuerpoPagina{
   margin-top: 90px;
   background-image: url(../img/background-cover.svg);
   background-size:contain;
}
.msgEmpre{
   margin-top: 15px;
   margin-bottom: 15px;
   color: #4f5b66;
}

